# Excluido el directorio "temp" ya que su finalidad es doble:
# - Almacenar archivos o carpetas necesarios para un script pero no guardarlos.
# - Probar scripts que generan archivos o carpetas.
temp/
